.centro {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-color: #222222;
}
.formularioPerfil{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}
.cajita{
    display: flex;
    gap: 25px;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
}
.abcd {
    color: azure;
}
.subabcd{
    color: azure;
}