.tarjeta{
    height: 450px;
    width: 400px;
    background-color: #101010;
    border-radius: 10%;
    box-shadow: 16px 14px 20px #0000008c;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tarjeta::before{
    content: "";
    position: absolute;
    height: 600px;
    width: 350px;
    background-image: conic-gradient(red 20deg, transparent 120deg);
    animation: rotar 2s linear infinite;
}

@keyframes rotar{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(-360deg);
    }
}

.tarjeta::after{
    content: "";
    position: absolute;
    height: 440px;
    width: 390px;
    background-color: #101010;
    border-radius: 10%;
    box-shadow: inset 16px 14px 20px #0000008c;;
}
.index{
    z-index: 2;
    background-color: transparent;
}